@charset "utf-8";
/**/
.personal_info{width:950px; margin:80px auto 0;border-bottom: #ddd 1px solid;text-align: center;}
.personal_info span{margin:0 60px ;font-size: 22px;padding:0 0 30px 0;width:200px;}
.personal_info span.on{border-bottom: #ce3d3a 2px solid;}
.personal_info span:hover a{ color:#ce3d3a; }
/*form*/
.information_form{width:800px; margin:0 auto;}
.information_form ul li{display:inline-block; *zoom:1;*display:inline;vertical-align: middle;width:49%;margin-top: 20px;line-height: 35px; }
.information_form ul li.all{width:99%; clear: both;}
.information_form ul li span.user_profile{display: block;width:125px;height:125px;}
.information_form ul li label.form_label{float: left;width:80px; text-align: right;}
.information_form ul li label.form_label span{padding-top: 50px;display: block;}
.information_form ul li .form_field{margin-left: 80px; }
.information_form ul li .ie7_width{+width:0;}
.information_form ul li .form_field p.radio label{cursor:pointer;margin-right: 10px;}
.information_form ul li .form_field p.radio label:hover{color:#ce3d3a;}
.information_form ul li input.small_input,.information_form ul li input.big_input{padding:0 5px; height:28px; line-height: 28px;}
.information_form ul li input.small_input{width:190px;}
.information_form ul li input.big_input{width:440px;}
.information_form ul li span.user_profile img{border-radius:50%;width:120px; height:120px; border:#ddd 3px solid;} 
/*保存*/
.information_form_btn{display: block;text-align: center; padding:35px 0;}
.information_form_btn a{background-color: #ce3d3a;color:#fff;text-align: center;width:300px; line-height: 40px;font-size: 14px;}
.information_form_btn a:hover{background-color: #bb100d;}

/**/
/* tag */
.tagbtn a{color:#333;display:block;float:left;height:23px;line-height:23px;overflow:hidden;margin:0 10px 5px 0;padding:0 10px 0 5px;white-space:nowrap;}
/* default-tag */
.default-tag{padding:0 0 0 0; display: block;clear: both; } 
.default-tag a{height: 23px; line-height: 23px;border-radius: 15px;border:#759af3 1px solid; color: #759af3;margin-top:15px;}
.default-tag a:hover{background-color: #fafafa;}
.default-tag a.selected{border:#ddd 1px solid;color:#ddd;}
/* plus-tag */
.plus-tag{margin:10px 0;}
.plus-tag a{height: 23px; line-height: 23px;border:#759af3 1px solid; color: #759af3 ;border-radius: 15px;float:left;margin-right: 10px;}
.plus-tag a span{padding :0 15px; }
/* plus-tag-add */
.plus-tag-add p{ float: left;}
.plus-tag-add p input{ background-color: #fcfcfd;border: #d0d2d6 1px solid;color: #717171;height: 35px;
line-height: 35px;padding: 0px 5px; width: 260px;}
.add_tag_g_b{background-color: #ce3d3a; width: 75px; line-height: 30px; height: 30px;border:0 none;color: #fff;font-size: 14px;cursor: pointer; margin-left: 10px;vertical-align: top;}
.add_tag_g_b:hover{background-color: #bb100d;}
.left_relat p a{color:#999;}
.left_relat p a:hover{color:#ce3d3a;}

/*上传头像*/
p.up_btn a.upimg em.icon,.upimgs_btn a em.icon{background: url(../../../../images/common/student/common_student.png) 0 0 no-repeat;}

p.up_btn{ padding:30px 0 0 30px; }
p.up_btn a.upimg{width:150px;height:40px; line-height: 40px;text-align: center;background-color: #e7a46a;font-size: 14px; color:#fff;}
p.up_btn a.upimg:hover{background-color: #dc8942;}
p.up_btn a.upimg em.icon{width:26px; height:22px; margin-top: 10px;margin-right: 5px; +vertical-align: middle; background-position: -313px 0;}
p.up_btn span.text{display: block;clear: both;line-height: 30px;}

.upimgs{display: block;margin:30px;}
.upimgs .img_left{width:280px; height:310px; border-right: #ddd 1px solid;}
.upimgs .img_left .img_box{display: block;width:240px; height:300px; border:#ddd 1px solid;box-shadow: 3px 3px 3px #ddd;  }
.upimgs .img_right {;position: relative; width:200px;}
.upimgs .img_right .img1{width:200px; height:200px;border:#ddd 1px solid;box-shadow: 3px 3px 3px #ddd;position:absolute;left:40px; top:0; }
.upimgs .img_right .img2{width:120px; height:120px;border:#ddd 1px solid;box-shadow: 3px 3px 3px #ddd;position:absolute;left:280px; top:0; }
.upimgs .img_right .img3{width:80px; height:80px;border:#ddd 1px solid;box-shadow: 3px 3px 3px #ddd;position:absolute;left:300px; top:150px; }
.upimgs_btn {text-align: center;padding:30px 0;}
.upimgs_btn a{margin: 0 15px;text-align: center;}
.upimgs_btn a em.icon{background-position: -37px -68px; width:24px;height:16px;vertical-align: middle;}
