.su_body {
	background: #c0c0c0
}

.su_body a {
	font-family: \5B8B\4F53;
	height:30px;
	/*float: right;*/
}

.wrap {
	width: 960px;
	margin: 0 auto;
	padding: 20px 10px 0;
	background: url(bg.png) no-repeat 50% 20px
}

.header {
	height: 45px;
	padding-right: 16px;
	line-height: 45px;
	background: url(../../../images/top_1.jpg) no-repeat
}

.header h1 {
	float: left;
	width: 130px
}

.header h1 a {
	display: block;
	height: 45px;
	text-indent: -9999px;
	overflow: hidden
}

.header .back {
	float: right;
	color: #fff
}

.footer {
	height: 200px;
	background: url(bottom.jpg) no-repeat
}

.footer .f_service {
	padding-top: 9px;
	height: 22px;
	line-height: 22px
}

.footer .f_service span {
	color: #444;
	float: right;
	padding-right: 2px;
	padding-top: 2px\9;
	_padding-top: 0
}

.footer .f_service a {
	width: 99px;
	height: 22px;
	float: right;
	background: url(btn_qq.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden
}

.container {
	height: 410px;
	background: #fff;
	border-bottom: 1px solid #d3d3d3
}

.container_test {
	height: 450px
}

.col_main {
	width: 690px;
	float: left
}

.col_main h2 {
	font-weight: 700;
	font-size: 20px;
	color: #da0000;
	padding-left: 59px;
	margin: 27px 0 19px;
	font-family: '\5FAE\8F6F\96C5\9ED1'
}

.suf_w {
	height: 38px;
	color: #333
}

.suf_wl {
	width: 125px;
	float: left;
	font-size: 14px;
	text-align: right;
	font-family: \5B8B\4F53;
	padding: 7px 6px 0 0
}

.suf_agreement {
	padding-left: 131px;
	*padding-left: 132px;
	height: 26px
}

.suf_w .si1,.suf_w .si2 {
	border: 1px solid #d3d4d5;
	width: 208px;
	height: 28px;
	line-height: 18px;
	padding: 4px 6px;
	font-size: 12px;
	background: #fff url(input_bg.png) repeat-x
}

.suf_w .si2 {
	width: 71px
}

.suf_w .si3 {
	background: url(input_email_bg.png) no-repeat
}

.suf_w .si_cur {
	border: 1px solid #ffe659
}

.suf_wl span {
	color: #f00
}

.suf_wl em {
	font-size: 12px
}

.suf_wr {
	width: 223px;
	float: left;
	position: relative
}

.suf_safe {
	width: 43px;
	height: 21px;
	background: url(safe.png) no-repeat;
	float: left;
	margin-top: 4px
}

.sufs_fill {
	height: 21px;
	width: 0;
	background: url(safe.png) no-repeat 0 -21px
}

#suf_auth_code {
	height: 42px
}

#suf_auth_codep {
	height: 42px;
	padding-top: 3px
}

#suf_auth_code .suf_wr a {
	float: left;
	color: #0087c6;
	line-height: 27px;
	text-decoration: underline
}

#suf_auth_code .suf_wr a:hover {
	text-decoration: none
}

#auth_code {
	float: left
}

#auth_codep {
	float: left;
}

.code_img {
	float: left;
	padding-left: 1px;
	position: relative
}

.code_img img {
	display: block;
	position: absolute;
	width:70px;
	height:30px;
}


.suf_agreement a {
	color: #0087c6
}

#agreement {
	position: relative;
	top: 2px;
	*top: 1px;
	_position: static
}

.suf_submitw {
	padding: 8px 0 0 131px
}

.suf_submitw span {
	line-height: 34px;
	float: left;
	color: #333;
	padding-left: 18px
}

.suf_submitw span a {
	color: #0087c6;
	text-decoration: underline
}

.suf_submitw span a:hover {
	text-decoration: none
}

.suf_submitw span a.getpass {
	margin-right: 3px;
	text-decoration: none
}

.suf_submitw span a.getpass:hover {
	text-decoration: underline
}

.suf_reg,.suf_submit {
	width: 93px;
	height: 34px;
	cursor: pointer;
	background: url(../../../images/btn_reg_1.png) no-repeat;
	border: 0 none;
	float: left
}

.suf_submit {
	background: url(btn_submit_1.png) no-repeat
}

.suf_tips {
	position: absolute;
	left: 230px;
	top: 0;
	background: #fff8d0;
	border-right: 1px solid #fef09d;
	border-bottom: 1px solid #fef09d
}

#noemail {
	position: absolute;
	left: 230px;
	top: 0;
	width: 100px;
	cursor: pointer;
	color: #0087c6;
	line-height: 28px
}

.suf_tips em {
	width: 6px;
	height: 12px;
	display: block;
	background: url(tips_arrow.png) no-repeat;
	position: absolute;
	top: 9px;
	left: -6px
}

.suf_tipsc {
	width: 155px;
	padding: 6px 6px 5px 10px;
	border-right: 1px solid #fffadc;
	line-height: 18px;
	color: #ff8a00
}

.tips_error .suf_tipsc {
	color: #f00;
	width: 140px;
	padding: 6px 6px 5px 25px;
	background: url(ico_error.png) no-repeat 6px 8px
}

.tips_ok {
	width: 15px;
	height: 15px;
	background: url(ico_ok.png) no-repeat;
	border: none;
	top: 7px
}

.su_form_login .suf_submit {
	background: url(btn_login.png) no-repeat
}

.auth_w {
	height: 75px
}

.auth_w .suf_auth_tips {
	padding: 2px 0 0 136px;
	color: #da0000;
	height: 31px
}

.mode {
	padding-left: 64px
}

.mode h3 {
	font-size: 25px;
	font-family: \9ED1\4F53;
	color: #000;
	margin: 6px 0 6px;
	font-weight: 700
}

.mode p {
	color: #333;
	line-height: 18px
}

.mode .mode_btn {
	padding-top: 16px
}

.mode .mode_btn a {
	width: 93px;
	height: 34px;
	background: url(btn_back.png) no-repeat;
	float: left;
	text-indent: -9999px;
	overflow: hidden
}

.mode .mode_btn span {
	line-height: 34px;
	float: left;
	color: #333;
	padding-left: 8px
}

.mode .mode_btn span a {
	background: none;
	color: #0087c6;
	text-decoration: underline;
	text-indent: 0;
	display: inline;
	float: none
}

.suc_con {
	padding: 60px 0 0 64px
}

.suc_con h3 {
	font-size: 25px;
	font-family: \9ED1\4F53;
	color: #000;
	margin: 6px 0 16px;
	font-weight: 700
}

.suc_info {
	height: 171px
}

.suc_info .ava_side {
	float: left;
	width: 120px;
	height: 120px;
	padding-right: 12px
}

.suc_info .ava_side .suc_avatar {
	width: 120px;
	height: 120px;
	display: block
}

.suc_info .ava_side .suc_links {
	padding-top: 9px
}

.suc_info .ava_side .suc_links em {
	color: #d5d5d5;
	margin: 0 2px 0 7px
}

.suc_info .ava_side .suc_links a {
	color: #0087c6;
	display: block;
	background: url(dot.gif) left center no-repeat;
	line-height: 18px;
	padding-left: 10px
}

.suc_info .suc_avatar img {
	display: block;
	float: left
}

.suc_infor {
	padding-top: 13px;
	float: left;
	width: 490px;
	overflow: hidden
}

.suc_infor h4 {
	margin-bottom: 6px
}

.suc_infor h4 em {
	color: #333
}

.suc_infor h4 a {
	font-size: 14px;
	font-weight: 700;
	color: #000093
}

.suc_infor p {
	font-size: 14px;
	color: #333;
	line-height: 25px
}

.suc_infor p .bn {
	font-size: 14px;
	text-decoration: underline;
	color: #0087c6;
	cursor: pointer
}

.cpt_info {
	line-height: 34px;
	color: #d0f0ff;
	font-size: 12px;
	width: 184px;
	height: 34px;
	padding: 0 0 0 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #0087c6;
	margin: 0 0 16px
}

.cpt_info a {
	float: left;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	font-family: '\5B8B\4F53', Arial, Verdana, sans-serif
}

.cpt_info a em {
	margin-left: 8px;
	color: #d0f0ff
}

.suc_infor .suc_itips {
	color: #999;
	font-size: 12px;
	padding: 8px 0
}

.suc_infor p .bid,.suc_infor p .bidpass {
	color: #da0000;
	font-weight: 700
}

.suc_infor p em {
	margin: 0 10px;
	color: #666
}

.suc_complete {
	line-height: 23px
}

.suc_complete h5 {
	font-weight: 700;
	color: #333;
	float: left
}

.suc_complete label {
	float: left;
	padding: 0 0 0 7px;
	color: #333
}

.suc_complete .btn_update {
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	height: 23px;
	width: 55px;
	margin-left: 7px;
	background: url(btn_update.png) no-repeat
}

.suc_complete input {
	float: left;
	width: 89px;
	height: 15px;
	padding: 3px 2px;
	border: 1px solid #d3d4d5
}

.suc_complete select {
	float: left;
	height: 21px;
	line-height: 21px;
	border: 1px solid #d3d4d5;
	width: 44px
}

.suc_complete span {
	color: #4eb000;
	float: left;
	padding-left: 8px;
	padding-top: 2px\9
}

.suc_complete span.error {
	color: #da0000
}

.suc_con_oauth .suc_info {
	height: 159px
}

.suc_con_oauth h3 {
	margin-bottom: 14px
}

.suc_bindmobile_tips {
	font-size: 14px;
	color: #333;
	font-weight: 700;
	padding: 2px 0 0 133px;
	height: 30px
}

.suc_bindmobile_tips a {
	font-size: 12px;
	color: #0087c6;
	font-weight: 400
}

.suc_bindmobile_tips1 {
	font-size: 16px;
	color: #f00
}

.suc_bindmobile_tips1 a {
	font-size: 14px
}

.suc_oauth_tips {
	font-size: 14px;
	color: #da0000;
	font-weight: normal;
	padding: 2px 0 0 0
}

.suc_oauth_tips span {
	color: #333
}

.suc_oauth_tips a {
	font-size: 12px;
	color: #0087c6;
	font-weight: 400
}

.suc_oauth_tips2 {
	padding-left: 0;
	margin-bottom: 36px
}

.suc_oauth_tips2 em {
	font-weight: 700
}

.suc_oauth_tips2 a {
	color: #000
}

.suc_viewback {
	padding-left: 10px;
	padding-top: 10px
}

.suc_viewback a {
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	width: 184px;
	height: 34px;
	background: url(btn_viewback.png) no-repeat
}

.suc_viptips {
	margin: 35px 0 0 0
}

.suc_viptips a {
	background: url(vip_tips.png) no-repeat;
	display: block;
	width: 435px;
	height: 49px;
	text-indent: -9999px;
	overflow: hidden
}

.col_side {
	width: 233px;
	float: right;
	padding: 47px 31px 0 0
}

.col_suc_side {
	padding-top: 64px
}

.col_side .cs_qq {
	margin-bottom: 10px
}

.col_side .cs_qq a {
	height: 34px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(btn_login_qq.png) no-repeat
}

.col_side .cs_con {
	height: 232px;
	background: #fffbe7;
	padding: 13px 0 0 14px;
	border-right: 1px solid #fff8d5;
	border-bottom: 1px solid #fff8d5
}

.col_side .cs_con h5 {
	color: #da0000;
	font-weight: 700
}

.col_side .cs_con ul {
	margin-top: 3px;
	padding-left: 68px;
	position: relative
}

.col_side .cs_con li {
	line-height: 22px;
	padding-left: 1px;
	height: 22px;
	color: #333
}

.col_side .cs_con li a {
	color: #0087c6
}

.col_side .cs_con li .fuli_b {
	color: #333
}

.col_side .cs_con li .fuli_l {
	display: block;
	position: absolute;
	width: 63px;
	height: 63px;
	background: url(fuli.png) no-repeat;
	left: 0;
	_left: -69px;
	top: 8px
}

.col_side .cs_con .privilege {
	margin: 6px 0 0 0;
	height: 81px;
	background: url(cs_pic2.png) no-repeat;
	padding: 0
}

.col_side .cs_con .privilege li {
	display: none
}

.col_side .cs_tips {
	padding-top: 9px;
	text-align: center;
	color: #333
}

.col_side .cs_tips em {
	font-weight: 700;
	color: #4eb000
}

.col_side .cs_suc_con {
	height: 153px;
	position: relative;
	background: #fffbe7;
	border-right: 1px solid #fff8d5
}

.col_side .cs_suc_con2 {
	height: 120px;
	padding-top: 0
}

.col_side .cs_flash {
	position: absolute;
	top: -70px;
	left: 113px
}

.col_side .cs_mode {
	height: 64px;
	line-height: 18px;
	padding: 11px 0 0 10px
}

.col_side .cs_mode .pic {
	width: 72px;
	height: 40px;
	float: left;
	margin-top: 5px;
	margin-right: 8px;
	_margin-right: 5px;
	background: url(cs_pic.png) no-repeat -10px -1px
}

.col_side .cs_mode h5 {
	font-weight: 700
}

.col_side .cs_mode p {
	color: #333
}

.col_side .cs_mode p em {
	color: #4eb000
}

.col_side .cs_fresh h5 {
	color: #4eb000
}

.col_side .cs_vip {
	padding-top: 7px
}

.col_side .cs_vip .pic {
	background-position: -113px 0;
	margin-top: 7px
}

.col_side .cs_vip h5 {
	color: #ffa800
}

.col_side .cs_vip p a {
	color: #da0000
}

.change_pwd {
	color: #0087c6;
	font-size: 12px
}

.pwd_con .suf_submitw {
	height: 90px
}

.pwd_con .pwd_tips {
	padding-left: 53px
}

.wrap .pwd_con .container_hd li.it1 {
	display: block
}

.col_side .cs_suc_con {
	height: 80px
}

.col_side .cs_vip {
	display: none
}

.lieyou .ly_hd {
	height: 118px;
	background: url(ly_top.png) no-repeat 50% 49px
}

.lieyou .loading {
	height: 220px;
	background: url(../../common/img/loading.gif) no-repeat 50% 50%
}

.lieyou .links {
	text-align: center;
	color: #999
}

.lieyou .links a {
	color: #3887c6
}

.lieyou .ly_con {
	height: 250px
}

.lieyou .ly_loged {
	padding-top: 3px
}

.lieyou .ly_loged p {
	text-align: center;
	color: #555
}

.lieyou .ly_loged .avatar {
	width: 130px;
	height: 130px;
	padding-top: 23px;
	margin: 0 auto 16px;
	position: relative
}

.lieyou .ly_loged .avatar img {
	padding: 4px;
	display: block;
	border: 1px solid #ddd
}

.lieyou .ly_loged .avatar .nickname {
	position: absolute;
	width: 120px;
	display: block;
	text-align: center;
	line-height: 28px;
	background: #312a2a;
	opacity: .8;
	-moz-opacity: .8;
	filter: alpha(opacity = 70);
	_filter: alpha(opacity = 70);
	bottom: 4px;
	left: 5px
}

.lieyou .ly_loged .avatar .nickname a {
	color: #fff
}

.lieyou .ly_loged .btn_submit {
	width: 101px;
	height: 30px;
	display: block;
	margin: 0 auto;
	background: url(ly_submit.png) no-repeat;
	text-indent: -9999px
}

.lieyou .ly_login {
	padding-top: 3px
}

.lieyou .ly_login .su_form_login {
	padding: 17px 0 0 250px
}

.binding_mobile {
	padding: 77px 0 0 124px
}

.binding_mobile .hd {
	height: 34px;
	font-size: 16px;
	color: #da0000;
	font-weight: 700
}

.binding_mobile .bd {
	padding-left: 11px
}

.binding_mobile .bd .gray {
	color: #999
}

.binding_mobile .mobile {
	height: 46px
}

.binding_mobile .mobile input {
	float: left;
	width: 242px;
	height: 26px;
	border: #d3d4d5 1px solid;
	line-height: 24px;
	padding-left: 6px
}

.binding_mobile .mobile .tips {
	line-height: 26px;
	color: #da0000;
	padding-left: 12px
}

.binding_mobile .code {
	height: 43px
}

.binding_mobile .code .authcode {
	float: left;
	width: 118px;
	height: 26px;
	border: #d3d4d5 1px solid;
	line-height: 24px;
	padding-left: 6px
}

.binding_mobile .code #btn_send {
	float: left;
	width: 90px;
	height: 27px;
	line-height: 26px;
	text-align: center;
	margin-left: 10px;
	background: url(code_bg.png) no-repeat;
	cursor: pointer;
	border: none
}

.binding_mobile .code span {
	float: left;
	padding-left: 8px;
	line-height: 26px;
	color: #008a24
}

.binding_mobile .btn {
	padding-left: 66px
}

.binding_mobile .btn input {
	float: left;
	width: 93px;
	height: 34px;
	background: url(btn_finish.png) no-repeat;
	border: none;
	cursor: pointer
}

.container_con .signup_main {
	float: left;
	width: 600px
}

.container_con .signup {
	overflow: hidden;
	padding: 27px 0 0
}

.container_con .signup .suf_submitw span {
	padding-left: 8px
}

.container_con .container_hd {
	height: 35px;
	border-bottom: 1px solid #e9e9ea;
	margin-left: 51px;
	margin-bottom: 20px;
	width: 541px
}

.container_con .container_hd li {
	float: left;
	width: 125px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	cursor: pointer;
	color: #555
}

.container_con .container_hd li em {
	display: block;
	padding-left: 46px
}

.container_con .container_hd li.it2 {
	background: url(phone_ico_1.png) no-repeat 23px center;
	position: relative
}

.container_con .container_hd li.it2:after {
	content: '';
	display: block;
	width: 18px;
	height: 19px;
	background: url(recommend_ico.png) no-repeat;
	position: absolute;
	top: -6px;
	right: -6px
}

.container_con .container_hd li.it1 {
	display: none;
	background: url(mail_ico_1.png) no-repeat 23px center
}

.container_con .container_hd li.it1 em {
	padding-left: 49px
}

.container_con .container_hd li.cur {
	color: #555;
	border: 1px solid #e9e9ea;
	border-bottom: 1px solid #fff;
	_position: relative;
	_bottom: -1px
}

.container_con .tab_con .suf_wl {
	width: 127px;
	padding-right: 9px
}

.container_con .tab_con .suf_agreement {
	padding-left: 136px
}

.container_con .tab_con .agreement_wrap {
	padding-top: 0
}

.container_con .tab_con .suf_submitw {
	padding: 7px 0 0 136px
}

.container_con .msg_viladate {
	display: block;
	border: 0 none;
	width: 121px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	color: #555;
	background: url(msg_v_3.png) no-repeat
}

.container_con .msg_viladate:hover {
	text-decoration: underline
}

.container_con .msg_disabled {
	background: url(msg_v_4.png) no-repeat;
	cursor: default;
	color: #999
}

.container_con .msg_disabled:hover {
	text-decoration: none
}

.container_con .msg_sended {
	position: absolute;
	height: 28px;
	line-height: 28px;
	top: 0;
	left: 265px;
	color: #ff7800
}

.container_con #suf_msg {
	position: relative
}

#suf_phone a {
	color: #0087c6;
	text-decoration: underline
}

#suf_phone a:hover {
	text-decoration: none
}

#agreement_phone {
	vertical-align: middle
}

.agreement_wrap {
	padding-top: 7px
}

.pop_send_suc {
	width: 314px;
	height: 215px;
	background: url(send_suc.png) no-repeat;
	position: relative
}

.pop_send_suc p {
	color: #9f9f9f;
	font-size: 12px;
	line-height: 20px;
	padding: 53px 43px 0 43px
}

.pop_send_suc .close {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 6px;
	right: 8px
}

.cotainer_yz {
	position: relative
}

.cotainer_yz .container_con .container_hd .it1 {
	display: block
}

.cotainer_yz .container_con .suf_reg,.cotainer_yz .container_con .suf_submit
	{
	background: url(btn_submit.png) no-repeat
}

.cotainer_yz .link_ss {
	color: #0087c6;
	text-decoration: underline;
	font-size: 12px;
	position: absolute;
	bottom: 61px;
	left: 65px
}

.cotainer_yz .col_email {
	padding: 0 0 0 86px
}

.cotainer_yz .col_email p {
	color: #333;
	padding-bottom: 10px
}

.cotainer_yz .col_email p input {
	vertical-align: middle;
	margin-right: 5px
}

.cotainer_yz .col_email p i {
	color: #f00
}

.cotainer_yz .col_email p em {
	color: #999
}

.cotainer_yz .col_email .new_email_con {
	margin: 5px 0 18px 0;
	position: relative
}

.cotainer_yz .col_email .new_email_con span {
	line-height: 28px;
	padding-right: 2px;
	color: #333
}

.cotainer_yz .col_email .new_email_con input {
	width: 208px;
	height: 26px;
	background: #fff;
	border: 1px solid #e9e9ea;
	outline: none;
	padding: 0 4px;
	line-height: 26px
}

.cotainer_yz .col_email .new_email_con .tips {
	width: 206px;
	height: 26px;
	line-height: 26px;
	background: #fff;
	display: block;
	position: absolute;
	top: 2px;
	left: 32px;
	padding: 0 4px;
	color: #999
}

.cotainer_yz .col_email .new_email_con .suf_tips {
	left: 256px
}

.cotainer_yz .col_email .email_submit {
	display: block;
	width: 200px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: 0;
	cursor: pointer;
	background: url(btn_blue.png) no-repeat
}

.cotainer_yz .email_yz_con {
	padding: 47px 0 0 70px
}

.cotainer_yz .email_yz_con h3 {
	font-size: 25px;
	font-family: \9ED1\4F53;
	color: #000;
	margin: 6px 0 26px 0;
	font-weight: 700
}

.cotainer_yz .email_yz_con .con {
	padding-left: 130px;
	background: url(xf_icon.png) no-repeat 0 2px
}

.cotainer_yz .email_yz_con .con p {
	font-size: 14px;
	color: #333;
	padding-bottom: 10px
}

.cotainer_yz .email_yz_con .con p em {
	color: #da0000;
	font-weight: bold;
	font-size: 12px
}

.cotainer_yz .email_yz_con .con .tips {
	line-height: 22px;
	padding-top: 19px;
	color: #999
}

.cotainer_yz .email_yz_con .con .goTo {
	margin-top: 29px;
	display: block;
	width: 200px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: 0;
	cursor: pointer;
	background: url(btn_blue.png) no-repeat
}

.cotainer_yz .ss_tip_con {
	padding: 47px 0 0 70px
}

.cotainer_yz .ss_tip_con h3 {
	font-size: 25px;
	font-family: \9ED1\4F53;
	color: #000;
	margin: 6px 0 26px 0;
	font-weight: 700
}

.cotainer_yz .ss_tip_con .con {
	height: 120px;
	padding-left: 130px;
	background: url(ss_icon.png) no-repeat 0 2px
}

.cotainer_yz .ss_tip_con .con p {
	font-size: 14px;
	color: #333;
	padding-bottom: 10px
}

.cotainer_yz .ss_tip_con .con .tips {
	padding-top: 12px
}

.cotainer_yz .ss_tip_con .con .tips p {
	overflow: hidden;
	font-size: 12px
}

.cotainer_yz .ss_tip_con .con .tips p span {
	display: block;
	float: left;
	line-height: 25px
}

.cotainer_yz .ss_tip_con .con .tips p a {
	line-height: 25px;
	text-decoration: underline;
	color: #0088af
}

.cotainer_yz .ss_tip_con .con .tips p .qq {
	float: left;
	display: block;
	width: 80px;
	padding-left: 19px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #0088af;
	background: url(btn_qq_bg.png) no-repeat
}

.cotainer_yz .ss_tip_con .con .tips p .qq:hover {
	text-decoration: none
}